.cols {
	column-width: 30em;
	column-gap: 10px;
	-webkit-column-width: 30em;
	-webkit-gap: 10px;
	-moz-column-width: 30em;
	-moz-column-gap: 10px;
}
.hide {
    display:none;   /* hide element and children */
}

.show { }

em.rfc { color: red; }
p.rfc { color: lightred; }
